#new-listing-items .card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

// .carousel-container {
//   width: 1250px;
//   margin: auto;
//   overflow: hidden;
//   position: relative;
// }

// .carousel-container .carousel-inner {
//   overflow: hidden;
// }

// .carousel-container .track {
//   display: flex;
// }

// .carousel-card-container {
//   width: 254px;
//   height: 300px;
//   flex-shrink: 0;
//   padding-right: 20px;
//   box-sizing: border-box;
// }

// .carousel-container .carousel-card-container .carousel-card {
//   width: 100%;
//   height: 100%;
//   box-sizing: border-box;
// }

// .nav button {
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   border: 1px solid black;
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   cursor: pointer;
// }

// .nav .prev {
//   left: -10px;
// }

// .nav .next {
//   right: -10px;
// }

// .login-form {
//   text-align: center;
// }
